# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Users\kacpe\IdeaProjects\BD_Project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/dataSources/f2eb728f-0f63-434b-90a7-da716c724f34.xml
/dataSources/f2eb728f-0f63-434b-90a7-da716c724f34/storage_v2/_src_/schema/information_schema.FNRwLQ.meta
/dataSources/f2eb728f-0f63-434b-90a7-da716c724f34/storage_v2/_src_/schema/mydb.Kl8zAA.meta
/dataSources/f2eb728f-0f63-434b-90a7-da716c724f34/storage_v2/_src_/schema/mydb.Kl8zAA.zip
